.service {
  background-color: var(--white-light);
  padding: 4rem 2rem;
  border-top: 1px solid var(--light_gray_border); /* subtle top border */
  /* Optional smooth box shadow instead: */
  box-shadow: 0 -1px 3px rgba(0, 0, 0, 0.3);
  margin-top: 2rem;

  margin: auto;
}
.para {
  font-size: 17px !important;
  font-weight: 500 !important;

  margin-top: 1rem;

  text-align: center;
}
.heading {
  text-align: center;
  font-weight: 700;
  font-size: 30px !important;
  line-height: 29px !important;
}
.card_container {
  display: flex;
  width: 75%;
  margin: auto;
  justify-content: center;
  align-items: stretch;
  height: auto;
  padding: 4rem 2rem;
  flex-wrap: wrap;
  gap: 3rem;
}
.solutions {
  background-color: #f9fbfc;
  padding: 4rem 2rem;
  border-top: 1px solid var(--light_gray_border); /* subtle top border */
  /* Optional smooth box shadow instead: */
  box-shadow: 0 -1px 3px rgba(0, 0, 0, 0.3);
  margin-top: 2rem;

  margin: auto;
}
@media (max-width: 1050px) {
  .card_container {
    display: flex;
    width: 95%;

    padding: 2rem;
    gap: 2rem;
  }
}
@media (max-width: 600px) {
  .card_container {
    width: 100%;
    gap: 2rem;
    padding: 1rem;
  }
}
