.textBlock {
  text-align: center;
  margin-bottom: 2rem;
}
.heading {
  font-size: 1.8rem;
  font-weight: bold;
  color: #1e293b;
  margin-bottom: 1rem;
}

.subheading {
  max-width: 45rem !important;
  font-size: 1.2rem;
  color: #64748b;
  margin: auto !important;

  text-align: left;
  line-height: 1.7; /* better readability */
}
.cursor {
  display: inline-block;
  margin-left: 4px;
  color: #1e293b;
}
