.textBlock {
  text-align: center;
  margin-bottom: 2rem;
}
.heading {
  font-weight: 700 !important;
  font-size: 30px;
  line-height: 29px !important;
  margin-bottom: 1rem;
}

.subheading {
  margin: auto !important;
  font-size: 17px !important;
  font-weight: 500 !important;
  width: 75% !important;
  text-align: center;
}
.cursor {
  display: inline-block;
  margin-left: 4px;
  color: #1e293b;
}
