.wrapper {
  display: flex;
  justify-content: center;

  min-height: 100vh;
  background-color: #f1f8ff;
}
.container {
  display: flex;
  justify-content: flex-start;
  padding: 60px;

  flex-wrap: wrap;
  gap: 3rem;
}
.container h1 {
  text-align: center;
  margin-top: 20vh;
  font-size: 3rem;

  color: #333;
}
.right {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.left {
  flex: 1;
}
.bold {
  color: #1a1a1a;
  font-weight: 700;
}
.accent {
  color: #2f8fff;
  font-weight: 700;
}
.text {
  display: flex;
  flex-direction: column !important;
  align-items: flex-start !important;
}
.text p {
  text-align: left; /* ⬅️ Align paragraph left */
  font-size: 1.1rem;
  color: gray;
  line-height: 1.6;
  margin-top: 2rem;
}
.stats {
  display: flex;
  gap: 2rem;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
}
.para_text {
  font-size: 1.1rem !important;
  max-width: 29rem;
  line-height: 1.7 !important;
}
