.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem; /* spacing between blocks */
  /* your blue background */
}
.main_container {
  background-color: #00baff;
  padding: 2rem;
  text-align: center;
}
.heading {
  margin-bottom: 3rem;
  color: white;
}

.metric {
  flex: 1 1 14rem; /* Allows wrapping and responsiveness */
  min-width: 12rem;
  position: relative;
  color: white;
}
.metric h2 {
  font-size: 1.5rem;
  font-weight: 750 !important;
}

.metric:not(:last-child)::after {
  content: "";
  position: absolute;
  right: -1rem;
  top: 50%;
  transform: translateY(-50%);
  height: 60%;
  width: 1px;
  background-color: #ffffff80;
}

@media (max-width: 768px) {
  .metric::after {
    display: none; /* Hide vertical divider on mobile */
  }
}
