.banner {
  background: #f1f8ff;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 2rem;
}

.content {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  width: 100%;
  max-width: 1300px;
  flex-wrap: wrap;
}

/* === LEFT SIDE === */
.textSection {
  flex: 1 1 350px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1.8rem;
  text-align: left;
}

.textSection h1 {
  font-size: 2rem;
  font-weight: 700;
  color: #1a1a1a;
  line-height: 1.2;
  margin-top: 0;
  max-width: 90%;
}

.highlight {
  color: #2f8fff;
}

.textSection p {
  color: #555;
  font-size: 1.15rem;
  line-height: 1.7;
  max-width: 34rem;
}

/* === BUTTONS === */
.buttons {
  display: flex;
  gap: 1.5rem;
  flex-wrap: wrap;
}

/* === RIGHT SIDE (IMAGE) === */
.imageSection {
  flex: 1 1 480px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.imageWrapper {
  position: relative;
  width: 90%;

  height: 90%; /* desktop height */
}

.image {
  object-fit: contain;
}

/* === RESPONSIVE === */
@media (max-width: 1120px) {
  .content {
    margin-top: 2.2rem;
    flex-direction: column-reverse;
    align-items: center;
    text-align: center;
    gap: 0;
  }

  .textSection {
    align-items: center;
    text-align: center;
  }

  .textSection h1 {
    font-size: 1.8rem; /* instead of 1rem */
    line-height: 1.3;
    margin: 0 !important;
  }
  .image {
    margin-bottom: 0;
  }
  .textSection p {
    font-size: 1rem;
    max-width: 90%;
  }

  .buttons {
    justify-content: center;
    flex-direction: column;
    gap: 1rem;
  }

  .imageWrapper {
    position: relative;
    width: 100%;
    height: fit-content;
    min-height: 100%; /* ✅ ensures visible area */
  }

  .image {
    object-fit: contain; /* ✅ safer than cover here */
  }
}

@media (max-width: 700px) {
  .banner {
    height: 60vh !important;
  }
  .imageSection {
    flex: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .content {
    margin-top: 0 !important;
    flex-direction: column-reverse;
    align-items: center;
    text-align: center;
    gap: 0;
  }
  .imageWrapper {
    display: none;
  }

  .image {
    display: none;
  }
}
