.cardContainer {
  display: flex;
  flex-wrap: wrap;
  padding: 2rem;
  gap: 2rem;
  justify-content: center;
  flex: 1 1 15rem;
}
.container {
  padding: 2rem;
  background-color: #f9fbfc;
}
