.service {
  background-color: var(--white-light);
  padding: 4rem 2rem;
  border-top: 1px solid var(--light_gray_border); /* subtle top border */
  /* Optional smooth box shadow instead: */
  box-shadow: 0 -1px 3px rgba(0, 0, 0, 0.3);
  margin-top: 2rem;
  background: linear-gradient(to right, #172c79, #36a4ff);
  margin: auto;
}
.para {
  font-size: 1.2rem;
  line-height: 1.5;
  text-align: center;
  margin-top: 1rem;
}
.heading {
  font-size: 2rem; /* adjust as needed */

  /* background: var(
    --blue_linear_gradient_left
  ); match the gradient in your image */
  font-weight: 650;
  text-align: center;
}
.card_container {
  display: flex;
  width: 75%;
  margin: auto;
  justify-content: center;
  align-items: stretch;
  padding: 4rem 2rem;
  flex-wrap: wrap;
  gap: 3rem;
}
.solutions {
  padding: 4rem 2rem;

  /* Optional smooth box shadow instead: */

  margin-top: 2rem;

  margin: auto;
}

@media (max-width: 600px) {
  .card {
    max-width: 100%;
    padding: 1.2rem;
  }
}
