.container {
  padding: 2rem;
}
.CardGrid {
  display: flex;
  justify-content: center;
  gap: 2rem;
  flex-wrap: wrap;
  flex: 1 1 16rem;
  min-width: 15rem;
  margin: auto;
}
.container h2 {
  text-align: center;
  margin-bottom: 2rem;
  font-weight: 700;
}
