.container {
  width: 100%;
  background-color: #1a2b4c !important;
}

.banner {
  margin-top: 2rem;
  z-index: 0;
  position: relative;
}

.imageContainer {
  width: 100%;
  position: relative;
  overflow: hidden;
  margin-top: 2rem;
  aspect-ratio: 5/2; /* keep your image ratio */
}

.imageWrapper {
  position: relative;
  width: 100%;
  height: 100%;
}

.image {
  object-fit: cover;
}

/* Overlay content on desktop */
.content {
  position: absolute;
  top: 50%;
  left: 8%;
  transform: translateY(-50%);
  z-index: 10;
  color: #fff;
  max-width: 40%;
}

.title {
  font-size: 23px;
  font-weight: 700;
  max-width: 35rem;
  margin-bottom: 1rem;
  display: block;
  text-align: center;
}

.subtitle {
  font-size: 1.1rem;
  margin-bottom: 1.5rem;
  color: #f1f5f9;
  line-height: 1.6;
}

.button {
  display: block; /* instead of inline-block */
  padding: 0.8rem 1.8rem;
  background: #3b82f6;
  color: #fff;
  font-weight: 600;
  border-radius: 9999px;
  min-width: 14rem;
  max-width: 16rem;

  margin: 1rem auto 0 auto; /* centers horizontally */
  text-decoration: none;
  transition: background-color 0.2s;
  z-index: 20;
  text-align: center;
}

.button:hover {
  background: #2563eb;
}

/* Mobile responsive styles */
@media (max-width: 800px) {
  .title {
    font-size: 1.6rem !important;
    margin-right: 1rem;
    margin-top: 2rem;
  }
  .imageWrapper {
    margin-top: 1rem;
  }
  .button {
    display: inline-block;
    padding: 1rem;
    width: 11rem;
    margin-top: 0.5rem;
  }
}

@media (max-width: 750px) {
  .imageContainer {
    display: none; /* only the image hides */
  }

  .content {
    position: relative; /* reset from absolute */
    transform: none;
    margin-left: auto;
    margin-right: 3rem;
    text-align: center;
    max-width: 90%;
    padding: 2rem;
  }
}
@media (max-width: 900px) {
  .title {
    font-size: 1.2rem !important;
    margin-right: 1rem;
  }
}
